<style>
    .blurhash {
        background-image: var(--blurhash-image);
        min-width: 640px;
        min-height: 640px;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="blurhash" {{blurhash-decoder 'LEHV6nWB2yk8pyo0adR*.7kCMdnj' 640 640}}></div>
